openapi: 3.0.0

info:
  title: Lavera Backend API
  version: 1.0.0

servers:
  - url: http://localhost:5000/api

paths:

  /health:
    get:
      summary: Health check
      responses:
        "200":
          description: OK

  /ready:
    get:
      summary: Readiness check
      responses:
        "200":
          description: Ready

  /auth/login:
  post:
    summary: Login (bcrypt + validation + rate limit)
    requestBody:
      required: true
      content:
        application/json:
          schema:
            type: object
            required:
              - username
              - password
            properties:
              username:
                type: string
                example: admin
              password:
                type: string
                example: "123456"
    responses:
      "200":
        description: Login success
      "400":
        description: Validation error
      "401":
        description: Invalid credentials
